.footer-container {
    background-color: #475569;
    display: flex;
    vertical-align: bottom;
    padding-left: 2rem;
}

.text-corporation {
    margin-right: 0.7rem;
    font-weight: bold;
    color: white;
}

.text-page-name {
    color: white;
}