.footer-container {
    margin: 0;
    margin-top: 1rem;
    background-color: #332c50;
    display: flex;
    vertical-align: bottom;

}

.text-corporation {
    margin-right: 0.7rem;
    font-weight: bold;
    color: white;
}

.text-page-name {
    color: white;
}