.authors-container {
    border: 1px solid gray;
}

.invalid-message {
    color: red;
}

.form-container {
    display: flex;
    overflow-wrap: break-word; /* Современный аналог word-wrap */
}

.w-full {
    width: inherit;
}