<div>
    <div>
        <app-loading *ngIf="isLoad() | async"></app-loading>
    </div>

    <div *ngIf="!(isLoad() | async)">
        <app-header></app-header>
        <div *ngIf="isAuthenticated() | async">
            <p-toast />
            <p-confirmDialog></p-confirmDialog>
            <router-outlet></router-outlet>
        </div>
        <div *ngIf="!(isAuthenticated() | async)">
            <app-login (auth)="login($event)"></app-login>
        </div>
        <app-footer></app-footer>
    </div>


</div>