.header {
    display: flex;
    background-color: #F8FAFC;
}

.menu {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1rem;
    display: flex;
}

.profile {
    padding-right: 0.5rem;
}

:host ::ng-deep .p-button {
    background-color: white;
    color: black;
    font-style: normal;
    border: 0;
}