.header {
    display: flex;
    background-color: white;
}

.menu {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1rem;
    display: flex;
}

.profile {
    padding-right: 0.5rem;
}