.course-add-form {
    width: 30rem;
    border: 1px solid red;
    border-radius: 10px;
    background-color: lightblue;
    text-align: left;
    position: relative;
    padding: 10px;
    padding-top: 0;
    margin: 10px;
}

.m-8rem {
    margin: 0.8rem;
}

.m-6rem {
    margin: 0.6rem;
}
