.course-add-form {
    width: 30rem;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    background-color: #FFFFFF;
    text-align: left;
    position: relative;
    padding: 10px;
    padding-top: 0;
    margin: 10px;
    display: flex;
    flex-direction: column;
    min-width: 100%;
    flex: 1;
}

.m-8rem {
    margin: 0.8rem;
}

.m-6rem {
    margin: 0.6rem;
}

.invalid-message {
    color: red;
}

.display-name-field {
    height: 47px;
}