/* You can add global styles to this file, and also import other style files */
@import "~primeng/resources/primeng.min.css";
@import "~primeicons/primeicons.css";

* {
    margin: 0;
}

.button-rounded-bordless {
    border-radius: 10px;
    border: none;
}

.backgrnd-white {
    background-color: white;
}

.search-button {
    background-color: purple;
    color: white;
}

.add-button {
    background-color: blue;
    color: white;
}

.red-button {
    color: red;
}

.blue-button {
    color: blue;
}
