.course-list-container {
    height: 80%;
}
.course-list {
    margin-left: 1rem;
    margin-right: 1rem;
}

.course-list-button {
    text-align: center;
}

.not-found-container {
    margin: 2rem;
    text-align: center;
}

.courses-not-found {
    font-size: large;
    font-weight: bold;
}

.course-header-container {
    display: flex;
}

.search-container {
    margin-left: 2rem;
}
.search-input {
    margin-right: 0.7rem;
}

.options-container {
    margin-left: auto;
    margin-right: 2rem;
}