<div class="course-list-container">
    <app-breadcrumbs></app-breadcrumbs>
    <div class="course-header-container">
        <div class="search-container">
            <input class="search-input" type="text" pInputText [(ngModel)]="searchInput" />
            <p-button styleClass="button-rounded-bordless search-button" class="search-button" label="Search"
                (onClick)="search()" />
        </div>
        <div class="options-container">
            <p-button (onClick)="addCourse()" styleClass="button-rounded-bordless add-button" class="add-course-button" label="Add course"
                severity="info" />
        </div>
    </div>
    <div class="not-found-container" *ngIf="!courses.length">
        <i class="pi pi-ban" style="font-size: 2rem;"></i>
        <div class="courses-not-found">Нет данных</div>
    </div>
    <p-toast />
    <p-confirmDialog></p-confirmDialog>
    <div *ngIf="courses.length">
        <div class="course-list" *ngFor="let i of courses">
            <app-course-item [course]="i" (deleteCourse)="deleteCourse($event)" (editCourse)="editCourse($event)">
            </app-course-item>
        </div>
        <div class="course-list-button">
            <p-button styleClass="button-rounded-bordless backgrnd-white" label="Load more" iconPos="right" />
        </div>
    </div>

</div>